/* Dark Blue: #1A376C - Used for the main body of the truck and text.

Mountain Green: #2E8B57 - A rich, vibrant green for the mountain peaks.

Sky Blue: #5993C5 - A clear, light blue used for the sky in the background.

Light Green Accent: #76C24F - A brighter, almost lime green used for the mountain outlines and accents.

White: #FFFFFF - Used for the clouds, text outlines, and logo elements. */

:root {
  --darkblue: #132952;
  --mountaingreen: #185211;
  --skyblue: #5d9cd3;
  --lightgreen: #5fc52d;
  --white: #ffffff;
  --slategray: #5b6774;
}

body {
  background-color: #132952;
  margin: auto;
}

header {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  color: var(--skyblue);
  text-shadow: 1px 1px 5px black;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 28px;
}

.nav-menu-container a {
  text-decoration: none;
  padding-right: 10px;
  color: #5d9cd3;
  text-shadow: 1px 1px 5px black;
}

a:hover {
  color: aquamarine;
}

.about {
  background-image: url(assets/imgs/street-food-still-life.jpg);
  background-size: 1500px;
  background-position-y: 60%;
}

main {
  background-color: var(--skyblue);
}

footer {
  background-color: var(--darkblue);
}
